In [7]:
import pandas as pd

file_path = 'https://raw.githubusercontent.com/kaopanboonyuen/SC310005_ArtificialIntelligence_2023s1/main/dataset/titanic_dataset.csv'
df = pd.read_csv(file_path)

results = {
    "คำถาม": [
        "จำนวนผู้โดยสารทั้งหมด",
        "จำนวนผู้โดยสารที่รอดชีวิต",
        "อายุเฉลี่ยของผู้โดยสาร",
        "จำนวนผู้โดยสารชาย",
        "จำนวนผู้โดยสารหญิง",
        "เปอร์เซ็นต์การรอดชีวิตของผู้โดยสารหญิง",
        "เปอร์เซ็นต์การรอดชีวิตของผู้โดยสารชาย",
        "ค่าโดยสารเฉลี่ย 1 ชั้น ",
        "อัตราการรอดชีวิตของผู้โดยสาร 1 ชั้น",
        "เปอร์เซ็นต์ของผู้โดยสารที่มีพี่น้องหรือคู่สมรส"
    ],
    "คำตอบ": [
        "จำนวนผู้โดยสารทั้งหมดบนเรือไททานิก",
        "จำนวนผู้โดยสารที่รอดชีวิตจากเหตุการณ์",
        "อายุเฉลี่ยของผู้โดยสารบนเรือ",
        "จำนวนผู้โดยสารชายบนเรือ",
        "จำนวนผู้โดยสารหญิงบนเรือ",
        "เปอร์เซ็นต์ของผู้โดยสารหญิงที่รอดชีวิต",
        "เปอร์เซ็นต์ของผู้โดยสารชายที่รอดชีวิต",
        "ค่าโดยสารเฉลี่ยสำหรับผู้โดยสารใน 1 ชั้น ",
        "อัตราการรอดชีวิตของผู้โดยสารใน 1 ชั้น ",
        "เปอร์เซ็นต์ของผู้โดยสารที่มีพี่น้องหรือคู่สมรสอยู่บนเรือ"
    ],
    "จำนวน": [
        len(df),
        df['Survived'].sum(),
        df['Age'].mean(),
        df['Sex'].value_counts()['male'],
        df['Sex'].value_counts()['female'],
        df.groupby('Sex')['Survived'].mean()['female'] * 100,
        df.groupby('Sex')['Survived'].mean()['male'] * 100,
        df.groupby('Pclass')['Fare'].mean()[1],
        df.groupby('Pclass')['Survived'].mean()[1] * 100,
        (df['SibSp'].sum() / len(df)) * 100
    ]
}

results_df = pd.DataFrame(results)

styled_results = results_df.style.format({"จำนวน": "{:.2f}"}) \
                                 .set_table_styles([{'selector': 'th',
                                                     'props': [('background-color', 'grey'),
                                                               ('color', 'white')]}]) \
                                 .set_properties(**{'background-color': 'white',
                                                    'color': 'black',
                                                    'border-color': 'black'})

styled_results